/*Divide la seccion en dos columnas*/
.Inicio {
  height: 100vh; /* 100% del viewport height */
  display: grid;
  align-items: center;
  background-color: #9eded8;
  color: #2d6883;

  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Inicio > :nth-child(2n + 1) {
  background-color: #9eded8;
  margin: 40px;
}

.Inicio > :nth-child(2n) {
  background-color: #268b92;
  margin: 40px;
  border-radius: 50px;
}

.Inicio .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Inicio .text-container h1 {
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  letter-spacing: 50px;
}

.Inicio .text-container h2 {
  letter-spacing: 30px;
  text-decoration-line: underline overline;
  text-decoration-color: #2d6883;
  margin-bottom: 5%;
}

.Inicio .text-container p {
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 20px;
}

.Inicio .imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 111px);
  padding: 20px;
}

.Inicio .imagen-container .imagenPaul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inicio .imagen-container img {
  margin: auto;
  max-width: 60%;
  max-height: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Contenido {
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: #ebebeb;
  color: #2ea8e0;

  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Contenido .Texto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.Contenido .Texto h1 {
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.Contenido .Texto p {
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 20px;
}

.ContenidoInfo {
  height: 50vh;
  background-color: #9eded8;
  color: #268b92;
  padding: 0 50px;
}

.ContenidoInfo .LineaDivi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border: 5px solid #268b92;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.ContenidoInfo .certificados {
}

.ContenidoInfo .Texto h1 {
  padding: 50px 0 0 0;
  font-size: 3.999rem;
}

.ContenidoInfo .Texto p {
  font-size: 1rem;
  padding: 0 10px 0 100px;
}

.ContenidoEnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  opacity: 0;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -ms-transition: border 1s;
  -o-transition: border 1s;
}
.border:hover {
  border: 10px solid #f5f5f7;
  opacity: 1;
  z-index: 1;
  transition: border 1.5s;
  -webkit-transition: border 1.5s;
  -moz-transition: border 1.5s;
  -ms-transition: border 1.5s;
  -o-transition: border 1.5s;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  color: #f5f5f7;
  overflow: hidden;
  background: #f5f5f7;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardMe {
  background: url("../img/IMG_20221005_081424.jpg") center center no-repeat;
  background-size: 300px;
}
.cardMe:hover {
  background: url("../img/IMG_20221005_081424.jpg") left center no-repeat;
  background-size: 600px;
}
.cardMe:hover h3 {
  opacity: 1;
  color: #f5f5f7;
}
.cardMe2 {
  background: url("../img/Yo.jpg") center center no-repeat;
  background-size: 300px;
}
.cardMe2:hover {
  background: url("../img/Yo.jpg") left center no-repeat;
  background-size: 600px;
}
.cardMe2:hover h3 {
  opacity: 1;
  color: #212121;
}

h3 {
  color: #f5f5f7;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 180px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icons:hover {
  color: #f5f5f7 !important;
  z-index: 1;
  transition: fill 1s;
}
