/*Divide la seccion en dos columnas*/
.Inicio {
  height: 111vh;
  margin-top: 10vh;
  display: grid;
  align-items: center;
  background-color: #9eded8;
  color: #2d6883;

  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Inicio > :nth-child(2n + 1) {
  background-color: #9eded8;
  margin: 40px;
}

.Inicio > :nth-child(2n) {
  background-color: #268b92;
  margin: 40px;
  border-radius: 50px;
}

.Inicio .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Inicio .text-container h1 {
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.Inicio .text-container p {
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 20px;
}

.Inicio .imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 111px);
  padding: 20px;
}

.Inicio .imagen-container .imagenPaul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inicio .imagen-container img {
  margin: auto;
  max-width: 60%;
  max-height: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Contenido {
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: #ebebeb;
  color: #2ea8e0;

  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Contenido .Texto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.Contenido .Texto h1 {
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.Contenido .Texto p {
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 20px;
}

.card {
  width: 190px;
  height: 254px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.carta {
  width: 210px;
  height: 254px;
  border-radius: 4px;
  background: #9eded8;
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.carta p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background: #9eded8;
  border: 1px solid #268b92;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta p:hover {
  flex: 4;
}

.carta p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: #268b92;
  letter-spacing: 0.1em;
}

.carta p:hover span {
  transform: rotate(0);
}

/* Media queries */

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(6, 1);
    margin: black 5px solid;
  }
}
/* Animations */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
