/* Global styles */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f5f5f7;
  padding: 10px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed; /* Hace que la navegación esté fija en la parte superior de la ventana de visualización */
  top: 0;
  width: 100%;
  background-color: #f5f5f7 !important; /* Establece un fondo blanco para la navegación */
  z-index: 1; /* Hace que la navegación esté en la capa superior para que se muestre encima del contenido */
}

nav a {
  display: block;
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
  border: transparent 3px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

nav a:hover {
  background-color: #f5f5f7; /* Cambia el fondo del enlace cuando se pasa el cursor sobre él */
}

nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Hace que los elementos de la lista se muestren en una fila horizontal */
  justify-content: space-around; /* Distribuye los elementos de la lista con un espacio uniforme */
  align-items: center; /* Alinea verticalmente los elementos de la lista en el centro */
  height: 80px; /* Establece la altura de la navegación */
}

nav ul li a {
  color: #1a1a1a;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;

  text-align: center;
}

nav ul li a:hover {
  color: #fff;
  background-color: #212121;
  padding: 10px;
}

footer {
  grid-column: 1 / -1;
  background-color: rgb(20, 36, 36);
  padding: 20px;
  color: #fff;
  text-align: center;
}
