.inicioproyectos {
  height: 100vh;
  margin-top: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo {
  display: grid;
  align-items: center;
  background-color: #9eded8;
  height: 100vh;
  border-radius: 30px;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo h1 {
  color: #2d6883;
  letter-spacing: 20px;
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  text-align: center;
}

.inicioProyectosContenido {
  color: #08403f;
  background-color: #ecd8cf;
  height: 100vh;
  padding: 50px;
}

.inicioProyectosContenido h2 {
  letter-spacing: 20px;
  font-size: 3rem;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 90px;
}

.inicioProyectosContenido p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
}

.inicioproyectosslider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
