@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
.container {
  height: 100vh;
  font-family: "Baloo Paaji", cursive;
  background: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 220px;
  position: relative;
}

.container h1,
h2 {
  font-size: 75px;
  text-transform: uppercase;
}
.containerh1 span,
h2 span {
  width: 100%;
  float: left;
  color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
}
.container h1 span {
  animation-delay: 0.6s;
}

.container h1 span:first-child {
  animation-delay: 0.7s;
}
.container h1 span:last-child {
  color: #ffe221;
  animation-delay: 0.5s;
}

.container h2 {
  top: 0;
  position: absolute;
}
.container h2 span {
  animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
}
.container h2 span:first-child {
  animation-delay: 4.2s;
}
.container h2 span:last-child {
  color: #ffe221;
  animation-delay: 4s;
}

.inicioproyectos {
  height: 100vh;
  margin-top: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo {
  display: grid;
  align-items: center;
  background-color: #9eded8;
  height: 100vh;
  border-radius: 30px;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo h1 {
  color: #2d6883;
  letter-spacing: 20px;
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  text-align: center;
}

.inicioProyectosContenido {
  color: #08403f;
  background-color: #ecd8cf;
  height: 100vh;
  padding: 50px;
}

.inicioProyectosContenido h2 {
  letter-spacing: 20px;
  font-size: 3rem;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 90px;
}

.inicioProyectosContenido p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
}

.inicioproyectosslider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}
