body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f5f5f7;
}

.inicioproyectos {
  height: 111.5vh;
  margin-top: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo {
  margin-top: 11.5vh;
  display: grid;
  align-items: center;
  background-color: #9eded8;
  height: 111.5vh;
  border-radius: 30px;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inicioProyectosTitulo h1 {
  color: #2d6883;
  letter-spacing: 20px;
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
  text-align: center;
}

.inicioProyectosContenido {
  color: #08403f;
  background-color: #ecd8cf;
  height: 111.5vh;
  padding: 50px;
}

.inicioProyectosContenido h2 {
  letter-spacing: 20px;
  font-size: 3rem;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 90px;
}

.inicioProyectosContenido p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
}

.inicioproyectosslider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  transform: translateY(50%);
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li.active {
  background-color: #fff;
}

.carousel-inner {
  position: relative;
  height: 100%;
}

.carousel-item {
  position: relative;
  display: none;
  height: 100%;
  background-color: #000;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M11.354 1.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L13.293 5H1.5a.5.5 0 010-1h11.793l-1.147-1.146a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M4.646 1.646a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708-.708L2.707 5H14.5a.5.5 0 000-1H2.707l1.147-1.146a.5.5 0 000-.708z'/%3E%3C/svg%3E");
}
